/* styles.css */
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
body,
html {
	height: 100%;
	overflow: hidden;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-style: normal;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
/* scrollbar styling */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: transparent; /* Hide track */
}
::-webkit-scrollbar-thumb {
	background: var(--bulma-grey-dark);
	border-radius: 8px;
}

::-webkit-scrollbar-track {
	background: transparent; /* Hide track */
}
::-webkit-scrollbar-button {
	display: none; /* Hide buttons */
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/* For Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--bulma-grey-dark) transparent;
}

.left-bar {
	width: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	justify-content: space-between;
	z-index: 2;
}
.server-list {
	width: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	margin-left: auto;
}
.server-item {
	width: 3em;
	height: 3em;
	border-radius: 100%;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	cursor: pointer;
	background-color: var(--bulma-grey-dark);

	transition: all 0.3s ease;
}
.server-item:hover {
	transform: scale(1.1);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	color: #fff;
}
.server-item.ringing {
	animation: wiggle-ring 0.7s infinite;
	box-shadow: 0 0 6px 4px rgba(55, 232, 55, 0.6);
	border: var(--bulma-success) 2px solid;
}
.server-item.call {
	box-shadow: 0 0 4px 2px rgba(55, 232, 55, 0.6);
	border: var(--bulma-success) 2px solid;
}
.main-area {
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-end;
}
#chat {
	height: 100vh;
	display: flex;
	flex-direction: column;
	transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	width: calc(100% - 300px); /* match #friends width */
	min-width: 150px;
}
#chat.expand {
	width: 100% !important;
}
#chat-messages {
	flex: 1;
	padding: 20px;
	overflow-y: auto;
	align-content: end;
}
.chat-input-wrap {
	padding: 10px;
}
.container-flex {
	display: flex;
	height: 100vh;
}
.voice-area {
	position: fixed;
	right: 1em;
	top: 1em;
	width: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	background-color: hsl(240, 2%, 26%);
	margin-left: auto;
	z-index: 5;
	border-radius: 25px;
	box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
}
.voice-area.ringing {
	animation: pulse 1s infinite;
	box-shadow: 0 0 0 0 rgba(50, 205, 50, 0.7);
}
@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(50, 205, 50, 0.7);
	}
	70% {
		transform: scale(1.08);
		box-shadow: 0 0 0 12px rgba(50, 205, 50, 0);
	}
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(50, 205, 50, 0);
	}
}
@keyframes pulse-no-scale {
	0% {
		box-shadow: 0 0 0 0 rgba(50, 205, 50, 0.7);
	}
	70% {
		box-shadow: 0 0 0 12px rgba(50, 205, 50, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(50, 205, 50, 0);
	}
}
.voice-ico {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
	transition: all 0.3s ease;
	border-radius: 25px;
}

@keyframes wiggle-ring {
	0% {
		transform: scale(1) rotate(0deg);
	}
	10% {
		transform: scale(1.08) rotate(-10deg);
	}
	20% {
		transform: scale(1.12) rotate(10deg);
	}
	30% {
		transform: scale(1.1) rotate(-8deg);
	}
	40% {
		transform: scale(1.12) rotate(8deg);
	}
	50% {
		transform: scale(1.1) rotate(-6deg);
	}
	60% {
		transform: scale(1.12) rotate(6deg);
	}
	70% {
		transform: scale(1.1) rotate(-4deg);
	}
	80% {
		transform: scale(1.08) rotate(4deg);
	}
	90% {
		transform: scale(1.05) rotate(-2deg);
	}
	100% {
		transform: scale(1) rotate(0deg);
	}
}

#voice-call.ringing {
	animation: wiggle-ring 0.7s infinite;
}
#voice-call.ringing:hover {
	color: var(--bulma-danger) !important;
}
.voice-ico:hover {
	transform: scale(1.1);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	background-color: hsl(240, 2%, 36%);
	color: var(--bulma-success) !important;
}
#voice-call.danger:hover {
	color: var(--bulma-danger-light) !important;
}
#voice-call.pickup:hover {
	color: var(--bulma-success-light) !important;
}

.voice-prof {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	cursor: pointer;
	background-color: hsl(240, 2%, 26%);
	color: #fff;
	transition: all 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: border 0.2s ease;
}

.voice-prof:hover {
	transform: scale(1.1);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	background-color: hsl(240, 2%, 36%);
	color: #fff;
}

.options-item {
	border-radius: 100%;
	transition: all 0.3s ease;
	padding: 0.25em;
}
.options-item:hover {
	transform: scale(1.1);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	background-color: hsl(240, 2%, 36%);
	cursor: pointer;
}
.options-list {
	width: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;
	background-color: var(--bulma-grey-dark);
	margin-left: auto;
	border-radius: 25px 25px 0 0;
	box-shadow: 0 0px 8px 8px rgba(0, 0, 0, 0.2);
	z-index: 5;
}
.selected {
	background-color: var(--bulma-grey) !important;
	color: var(--bulma-primary-light);
}
.slider {
	width: 80%;
	accent-color: var(--bulma-primary);
}

#friends {
	height: 100vh;
	border-right: var(--bulma-black-ter) 4px solid;
	transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), width 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s;
	will-change: transform, width, opacity;
	width: calc-size(auto, size);
	opacity: 1;
	width: 300px; /* or your default width */
	min-width: 250px;
	max-width: 370px;
}
#friends.slide-away {
	transform: translateX(-100%);
	width: 0 !important;
	opacity: 0;
	pointer-events: none;
}

.friend-item {
	padding: 0.6em 1em;
	border-bottom: var(--bulma-black-ter) 2px solid;
	transition: all 0.3s ease;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
.friend-item.call {
	border: var(--bulma-success) 2px solid;
	border-radius: 5px;
	box-shadow: inset 0 0px 4px 3px rgba(55, 232, 55, 0.3);
}
.friend-item.ringing {
	border: var(--bulma-success) 2px solid;
	animation: pulse-no-scale 1s infinite;
	border-radius: 5px;
}
.friend-item.selected > span {
	color: var(--bulma-primary-light);
}
.friend-item > span:hover {
	transform: scale(1.1);
	color: #fff;
}
.friend-item > span {
	transition: all 0.3s ease;
	color: var(--bulma-grey-light);
}

.friend-item:nth-child(odd) {
	background-color: var(--bulma-grey-dark);
}
.friend-item:hover:not(#friends-header) {
	cursor: pointer;
	box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.2);
	color: #fff;
}
#friends-header {
	box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.2);
	height: 3em;
	border: none;
	display: flex;
	align-items: center;
	margin: 0 !important;
	justify-content: space-between;
}
#friends-header h2 {
	margin-bottom: 0;
	white-space: nowrap;
	overflow: hidden;
}

#hotMicThresh {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	width: 80%;
}
#hotMicThresh::-webkit-slider-runnable-track {
	border-radius: 0.5rem;
	height: 1.75rem;
}

/* slider thumb */
#hotMicThresh::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	cursor: pointer;
	margin-top: -0.125rem; /* Centers thumb on the track */
	background-color: var(--bulma-primary);
	border-radius: 0.5rem;
	height: 2rem;
	width: 0.5rem;
	border: solid 1px var(--bulma-primary-light);
}

#hotMicThresh:focus::-webkit-slider-thumb {
	background-color: var(--bulma-primary-light);
}

#hotMicThreshIcon {
	transition: all 0.2s ease;
}

.active {
	color: var(--bulma-primary);
}
.friends-menu-item {
	transition: all 0.3s ease;
}
.friends-menu-item:hover {
	cursor: pointer;
	color: #fff;
	transform: scale(1.1);
}
.friend-request-item {
	padding: 0.6em 1em;
	border-bottom: var(--bulma-black-ter) 2px solid;
	transition: all 0.3s ease;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.friend-request-item:nth-child(odd) {
	background-color: var(--bulma-grey-dark);
}
.friend-request-item:hover:not(#friends-header) {
	box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.2);
	color: #fff;
}
.accept-friend-request {
	transition: all 0.3s ease;
	color: var(--bulma-success);
}
.accept-friend-request:hover {
	transform: scale(1.1);
	cursor: pointer;
	color: var(--bulma-success-light);
}
.accept-friend-request:active {
	color: var(--bulma-success-dark);
}
.reject-friend-request {
	transition: all 0.3s ease;
	color: var(--bulma-danger);
}
.reject-friend-request:hover {
	transform: scale(1.1);
	cursor: pointer;
	color: var(--bulma-danger-light);
}
.reject-friend-request:active {
	color: var(--bulma-danger-dark);
}
div.modal-background {
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(8px);
}
#sendBtn {
	color: var(--bulma-primary);
	transition: all 0.3s ease;
}
#sendBtn:hover {
	transform: scale(1.1);
	filter: drop-shadow(0 0 3px var(--bulma-primary));
}

#friendreq-modal-card {
	width: 90%;
	max-width: 400px;
}
#friendreq-modal-card > section,
#friendreq-modal-card > header,
#friendreq-modal-card > footer {
	padding: 1em;
}
.modal-card-head {
	box-shadow: none;
	padding: 0.5em 2em;
}
.modal-card-body {
	padding: 1.2em 2em;
}
.modal-card-foot {
	padding: 1rem;
}
#add-server-modal > .modal-card > .modal-card-body {
	border-radius: 10px 10px 0 0;
}

.tabs.is-boxed a {
	background-color: #0000003a;
	border-start-end-radius: 10px;
	border-start-start-radius: 10px;
}

.tabs.is-boxed a:hover {
	background-color: #111111aa;
}

.notification {
	padding: 0.5em;
	position: fixed;
	left: 50%;
	opacity: 0;
	box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.4);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 70%;
	max-width: min-content;
}
.notification:hover {
	opacity: 1 !important;
}
.toastClose {
	transition: all 0.3s ease;
}
.toastClose:hover {
	transform: scale(1.1);
}
label.checkbox {
	margin-right: 0.5em;
}
